{%- assign blog_per_page = 6 -%}

{% paginate blog.articles by blog_per_page %}
<div class="container container-ver2">
  <div class="row">
    
    <div class="js-ajax-post-wrapper engoc-row-equal layout-blog-v1-wrapper">
      {% for article in blog.articles %}
      <div class="col-md-4 col-sm-6">
        <div class="blog-post-main">
          <a href="{{ article.url}}">
            <img src="{{article.image|img_url:'master'}}" class="img-responsive">
          </a>
          <div class="post-metas">
            <div class="categories">
              {% for tag in article.tags %}
                    {{ tag | link_to_tag: tag }}{% unless forloop.last %}, {% endunless %}
              {% endfor %}
            </div>
            <span class="post-comments-number">{{article.comments_count}}</span>
          </div>
          <p class="info">{{ article.published_at | date: "%B %d, %Y" }}</p>
          <p class="blog-post-name"><a href="{{ article.url}}">{{ article.title}}</a></p>
        </div>
      </div>
      {% endfor %}
    </div>

    {% if paginate.pages > 1 %}
    <div class="col-md-12 js-ajax-load">
      <div class="ajax-load-post">
        <a href="javascript:void(0);" class="btn-ajax-post"><i><img src="{{'icon-ajax-load.png'|asset_url}}"></i> LOAD MORE</a>
      </div>
    </div>
    {% endif %}
    
  </div>
</div>

<script>
  $(document).ready(function() {
    var counter = 2
    var pages = Math.ceil('{{ blog.articles_count }}' / {{blog_per_page}});
    var maxCount = pages + 1;
    console.log("Pages Found: " + pages);
    console.log("News Title: {{ blog.handle }}");

     $('.js-ajax-load a').click(function(e) {

      e.preventDefault();

      var getUrl = "{{shop.url}}/blogs/{{ blog.handle }}?page="+counter;
      console.log(getUrl);
      $.ajax({
        url: getUrl,
        type:'GET',
        beforeSend: function() {
          $('.loading').addClass('active');
        },
        success: function(data){
          $('.loading').removeClass('active');
          $(".js-ajax-post-wrapper").append($(data).find('.js-ajax-post-wrapper').html());
          counter++;

          if(counter == maxCount ) {
            $('.js-ajax-load').empty();
          }

        }
      });
    });
  });
</script>

{% endpaginate %}