<footer class="footer-v1">
  <div class="container {% if settings.fv1_layout == "normal" %}container-ver2{% endif %}">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-top">
          {% if settings.fv1_copyright == blank %}
          <p>Copyright &copy; {{ 'now' | date: "%Y" }} by <a href="#" title="{{ shop.name }}" target="_blank">{{ shop.name }}</a>. <span>{{ powered_by_link }}</span></p>
          {% else %}
          <p>{{settings.fv1_copyright}}</p>
          {% endif %}
          <p class="flag-location">
            <a href="{{settings.fv1_location_url}}">
              <img src="{% if settings.fv1_location_img == blank %}https://placehold.it/22x22{% else %}{{settings.fv1_location_img|img_url:'master'}}{% endif %}" alt="">{{settings.fv1_location_content}}
            </a>
          </p>
        </div>
        <div class="footer-bottom">
          <ul class="contact-info">
            {% for link in linklists[settings.fv1_info_menu].links %}
            <li><a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a></li>
            {% endfor %}
          </ul>
          <ul class="social">
            {{settings.fv1_social}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>