<div class="engoc-slide-menu engoj-slide-menu">
  <div class="table-align">
    <div class="cell-view">
      <div class="container-menu">
        <ul class="menu-menu-main">
          {% for link in linklists.main-menu.links %}
          {% assign child_list_handle = link.title | handleize %}
          
          {% if linklists[child_list_handle].links != blank %}
          <li>
            <a class="text-uppercase slide-in-out" href="{{ link.url }}"><span>{{ link.title }}</span></a>
            
            <ul class="sub-menu">
              {% for childlink in linklists[child_list_handle].links %}
              <li>
                <a class="" href="{{ childlink.url }}">
                  <span>{{ childlink.title }}</span>
                </a>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% else %}
          <li>
            <a class="text-uppercase slide-in-out" href="{{ link.url }}">
              <span>{{ link.title }}</span>
            </a>
          </li>
          {% endif %}
          
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>