<div class="container">
  <div class="banner-header banner-lbook3 space-30">
    <img src="{% if section.settings.bg_image_breadcrumb == blank %}https://placehold.it/1860x339{% else %}{{section.settings.bg_image_breadcrumb|img_url:'master'}}{% endif %}" alt="Banner-header">
    <div class="text">
      <h3>
        {{ blog.title }}
      </h3>
      <p> <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>
        <i class="fa fa-caret-right"></i>
        {% if current_tags %}
        {{ blog.title | link_to: blog.url }}
        <i class="fa fa-caret-right"></i>
        {{ current_tags | join: " + " }}
        {% else %}
        {{ blog.title }}
        {% endif %}
      </p>
    </div>
  </div>
</div>

{% if section.settings.blog_layout == "layout_1" %}
	{% include 'blog-layout-1' %}
{% elsif section.settings.blog_layout == "layout_2" %}
	{% include 'blog-layout-2' %}
{% else %}
	{% include 'blog-layout-3' %}
{% endif %}

{% if section.settings.newsletter_enable %}
<div class="section-newsletter section-newsletter-blog">
  <div class="newsletter-wrapper newsletter-v2" style="background-color: {{section.settings.newsletter_bg_color}}">
    <div class="container container-ver2">
      <div class="row">
        <div class="col-md-12">
          {% if settings.newsletter_form_action != blank %}
          {% assign form_action = settings.newsletter_form_action %}
          {% else %}
          {% assign form_action = '#' %}
          {% endif %}

          <form action="{{form_action}}" class="text-center" method="post">
            <label>
              <h3>{{section.settings.newletter_title}}</h3>
              <p>{{section.settings.newletter_des}}</p>
            </label>
            <div class="form-group">
              <input type="email" name="EMAIL" class="form-control" placeholder="{{section.settings.newletter_placeholder}}">
            </div>
            <button type="submit" class="link-v1">{{section.settings.newletter_btn_name}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Blog page",
  "settings": [
    {
      "type": "image_picker",
      "id": "bg_image_breadcrumb",
      "label": "Background image"
    },
    {
      "type": "select",
      "id": "blog_layout",
      "options": [
        {
          "value": "layout_1",
          "label": "Layout 1"
        },
        {
          "value": "layout_2",
          "label": "Layout 2"
        },
        {
          "value": "layout_3",
          "label": "Layout 3"
        }
      ],
      "label": "Select Layout"
    },
    {
      "type": "header",
      "info": "MailChimp form action URL: Setting in Login Store > Customize theme > Theme Settings tab > Mailchimp",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
 	  "id": "newsletter_enable",
      "label": "Enable?",
      "default": true
    },
    {
      "type": "color",
 	  "id": "newsletter_bg_color",
      "label": "Background color",
      "default": "#f7f7f7"
    },
    {
      "type": "text",
      "id": "newletter_title",
      "label": "Title",
      "default": "NEWSLETTER"
    },
    {
      "type": "text",
      "id": "newletter_des",
      "label": "Description",
      "default": "TO GET IN TOUCH"
    },
    {
      "type": "text",
      "id": "newletter_placeholder",
      "label": "Input placeholder ",
      "default": "Enter your e-mail"
    },
    {
      "type": "text",
      "id": "newletter_btn_name",
      "label": "Button name",
      "default": "SUBSCRIBE"
    }
  ]
}
{% endschema %}
