<div data-section-id="{{ section.id }}" data-section-type="section-instagram-v1" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="mb-30">
    {% assign instafeed_img = '{{image}}' %}
    {% assign instafeed_link = '{{link}}' %}

    <script>
      jQuery(document).ready(function($) {
        var feed = new Instafeed({
          get: 'user',
          userId: '{{section.settings.section_ins_userid}}',
          accessToken: '{{section.settings.section_ins_access_token}}',
          template: '<div class="col-md-5ths col-sm-4 col-xs-6 item"><a href="{{instafeed_link}}" target="_blank" class="hover-images"><img class="img-responsive" src="{{instafeed_img}}"></a></div>',
          target: 'sinstagram-v1',
          resolution: 'standard_resolution',
          limit: '{{section.settings.section_ins_limit_number}}'
        });
        feed.run();
      });
    </script>

    <div class="instagram-v1">
      <div class="container">
        <div class="row no-gutters" id="sinstagram-v1">

        </div>
      </div>
      {% if section.settings.section_ins_content_enable %}
      <div class="title">
        <a href="{{section.settings.section_ins_content_url}}"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="{{section.settings.section_ins_content_url}}"><span>{{section.settings.section_ins_content}}</span></a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Instagram v1",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "section_ins_userid",
      "label": "User ID Instagram",
      "default": "3672948962"
    },
    {
      "type": "text",
      "id": "section_ins_access_token",
      "label": "Access Token Instagram",
      "default": "3672948962.0f64772.430edb7f711e4665b59777c54d1ed9ce"
    },
    {
      "type": "text",
      "id": "section_ins_limit_number",
      "label": "Limit Image",
      "default": "5"
    },
    {
      "type": "checkbox",
      "id": "section_ins_content_enable",
      "label": "Enable Instagram Content?",
      "default": true
    },
    {
      "type": "text",
      "id": "section_ins_content",
      "label": "Content",
      "default": "Instagram"
    },
    {
      "type": "url",
      "id": "section_ins_content_url",
      "label": "Content URL"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "Instagram v1",
      "category": "Instagram"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
