<div data-section-id="{{ section.id }}" data-section-type="section-slideshow-v4" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <section class="mb-30 slideshow-v4{% if section.settings.section_layout == "fullwidth" %}{% elsif section.settings.section_layout == "fluid" %} container{% else %} container container-ver2{% endif %}">
    <ul class="js-slideshow-v4">
      {% for block in section.blocks %}
      <li>
        <a href="{{block.settings.slideshow_url}}">
          <img src="{% if block.settings.slideshow_img == blank %}https://placehold.it/1920x1048{% else %}{{block.settings.slideshow_img|img_url:'master'}}{% endif %}" alt="">
        </a>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>

{% schema %}
{
  "name": "Slideshow v4",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Layout"
    },
    {
       "type": "select",
       "id": "section_layout",
       "options": [
          { "value": "fullwidth", "label": "Fullwidth"},
          { "value": "fluid", "label": "Fluid"},
          { "value": "normal", "label": "Normal"}
       ],
       "label": "Select layout"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "slideshow",
      "name": "Slideshow",
      "settings": [
        {
          "type": "image_picker",
          "id": "slideshow_img",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "slideshow_url",
          "label": "URL",
          "default": "/collections/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Slideshow v4",
      "category": "Slideshow",
      "blocks": [
        {
          "type": "slideshow"
        },
        {
          "type": "slideshow"
        },
        {
          "type": "slideshow"
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
